@charset "UTF-8";

body{
    background-color:#66E499;
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgb(84, 88, 84);
}
h1#principal {
    background-color: #3F8B5E;
    color: black;
    text-align: center;
}
h2{
    color: #3C614B;
}

.basico{

    color: #5d663e;
}

.intermediario{
    color: #3c4361;
}

.avancado{

    color: #8b3f3f;
}

.destaque{
    background-color: #d8632c;
    color: black;
}