@charset "UTF-8";

@font-face {
    font-family: EveryDreams;
    src: url('font/EveryDreams.ttf') format('truetype')
}

p{
    text-align: justify;

}
body{
    background-image: linear-gradient(to right, #D6B98F, #8F705B)

}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin:auto;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #634d3fd2;
    font-family: 'EveryDreams';
    
}
h1{
    color: #9FA092;
    text-align: center;
    text-shadow: 1px 1px 2px #634d3fd2;

}
h2{
color: #e0bd55;
}